/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS variables */
:root{
    --navbar-height: 59p×;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative; 
    top: 0px;

    
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/*Navigation bar: logo and image */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 90px;
    margin: 8px 8px;
}

/* Navigation bar: list styling */


#navbar ul{
    
    display: flex;
    font-family: 'Carattere', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.9rem;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* services section */

#services{

    margin: 34px;
    display: flex;

}
#services .box{
border: 2px solid black;
padding: 20px;
margin: 2px 6px;
background: rgb(18 20 79 / 25%);
margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Carattere', cursive;

}

/* clients section */
#client-section{
height: 344px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#client-section::before{
    content:"" ;
    position: absolute;
    background: url('../bgg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: .8;
}
#clients img{
    height: 100px;
    
}
/* contact section */
#contact-box form{
    width: 80%;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#contact{
    position: relative;
}
#contact::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:url('../cont.jpg') no-repeat center center/cover;
}
#home::before{
    content: "";
    background: url('../bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 550px;
    width: 100%;
    z-index: -1;
    opacity: .8;
    padding: 77px;
}
#home h3{
    
    color: rgb(17, 16, 16);
    text-align: center;
    font-family: 'Carattere', cursive;
    font-size: 1cm;
    margin-top: -60px;
}
#home p{
    color: black;
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Carattere', cursive;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
   width: 100%;
   padding: 0.5rem; 
   border-radius: 9px;
   font-size: 1.1rem;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
font-size: 1.8rem;
font-family: 'Carattere', cursive;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility classes */

.h-primary{
    margin: -20px;
    font-size: 8.5rem;
    padding: 9px;
    font-family: 'Carattere', cursive;
height: 50px;
}
.H-primary{
    margin: -8px;
    font-size: 4.5rem;
    padding: 20px;
    font-family: 'Carattere', cursive;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 10px;
    font-family: 'Carattere', cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solid black;
    color: black;
    margin: 17px;
    font-size: 1.5rem;
    background: none;
    font: bold;
    cursor: pointer;
    
}
.centre{
    text-align: center;
}

